header{
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    height:600px;
    background:hsl(0, 0%, 100%);
    border: white 10px solid;
    border-radius:16px;
    vertical-align: middle;
}
p{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 p{
    font-size: 26px;
}
h2 p{
    font-size: 18px;
    color: hsl(220, 15%, 55%);
}
.qrcode{
    width: 340px;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    border-radius:16px;
}
html{
    background-color: hsl(212, 45%, 89%);
}